
html[data-theme='light']{
    --main-bg-color:radial-gradient(circle, rgba(214,134,169,1) 0%, rgba(148,187,233,1) 100%);
    --txt:rgb(255,255,255);
    --sec-color: #a660a8c2;
    --tr-color:#c918b1;
}

html[data-theme='dark']{
    --main-bg-color:#17223b;
    --txt:#ff6768
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* d0c4df */
body{
    /* background: linear-gradient(120deg, rgb(188, 86, 192) 31%, rgba(132, 5, 136, 0.6) 68%);
    background: rgb(166,96,168);
    background: linear-gradient(90deg, rgba(166,96,168,1) 31%, rgba(248,0,255,1) 68%);
     */
     background: rgb(238,174,202);
     background: var(--main-bg-color);
     color: var(--txt);
    font-family: "Poppins" , sans-serif;
    min-height: 100vh;
}
 header
 {
     font-size: 1.75rem;   
 }

 header, form {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 20vh;
 }
 .mode{
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    text-align:center ;
 }

 form input,form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: white;
 }
 form button{
     color:var(--sec-color);
     cursor: pointer;
     transition: all 0.3s ease;
 }

 form button:hover{
    color: white;
    background-color:var(--sec-color);
 }

 .todo-container{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .todo-list{
     min-width: 30%;
     list-style: none;
 }

 .todo{
     margin:0.5rem;
     background: white;
     color: black;
     font-size: 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: all 0.5s  ease;
 }

 .todo li{
     flex: 1;
 }

 .trash-btn,
 .completed-btn{
     background:  var(--tr-color);
     border: none;
     padding: 0.5rem;
     font-size: 1rem;
     cursor: pointer;
 }
 .completed-btn{
     background-color: rgb(30, 192, 30);
 }
 .todo-item{
     padding: 0rem 0.5rem;
 }

.fa-trash,.fa-check{
pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateX(10rem);
    opacity: 0;
}

select{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    border:none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color:var(--tr-color);
    width: 10rem;
    padding:0.5rem;
    cursor:pointer;
} 
.select::after{
    content:"\25BC";
    position: absolute;
    background: var(--tr-color);
    top:0;
    right: 0;
    padding: 0.5rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background-color: white;
    color:var(--tr-color);
}



















